*{
    font-family: "Arial", sans-serif;
}

/* navbar */
.bg-basso-red {
    background-color: #BD2821 !important;
}

.navbarLogo:hover{
    transform: scale(1.1);
    transition: .5s;
}

.nav-link, .nav-link:link{
    color: white;
}

.nav-link:hover,
.nav-link:visited {
  color: white;
  font-weight: bold;
}


/* footer */
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
